@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    height: 100%;
    background-image: url(../public/Plan-bg.png);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: 200px;
    color-scheme: dark;
    background-color: black;


}